@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fff;
  /* font-family: "Alegreya", sans-serif; */
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #a8a7a7;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #264bb0;
}
